{% extends 'base.html' %}

{% block content %}

    <h2 class="text-center m-4">Please upload the image</h2>

    <form class="form-signin" method="POST" action="{% url 'disease_prediction' %}" enctype=multipart/form-data>
        {% csrf_token %}
        <div class="mx-auto" style="width: 540px;">
            <input class="form-control" type="file" name="file" id="inputfile" onchange="preview_image(event)" class="form-control-file">
            <br>
            <br>
            <img id="output-image" class="rounded mx-auto d-block" />
            <div class="text-center">
            <button type="submit" class="btn btn-dark p-2 m-3 btn-lg">Predict</button>
        </div>
    </div>
    </form>

    <script type="text/javascript">
        function preview_image(event) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById('output-image')
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>

{% endblock %}